extends layout

block styles
	link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet' href='/stylesheets/beverages.css')

block scripts
	script(src='javascripts/scripts.js')

block content
	include slider
	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg
	.toggle-button
	#site
		.container.section.active
			.wine-menu.col-sm-10.col-sm-offset-1
				h1.wine-cellar Wine Cellar
				.left-menu.col-sm-5
					h4.form-header 
						strong Find Wine Suggestions
						br
					form.form(action="/color" method="post")
						fieldset
							//- h5.input-header Select Beverage Type: 
							//- select.wine-input(name="searchType")
							//- 	option  
							//- 	option Wine
							//- 	option Spirits         <!-- selected="selected" -->
							//- 	option Table
							//- 	option Dessert
							//- 	option Sparkling
							//- 	option Fruit
							//- 	option Cider	

							h5.input-header Select Color Preference: 
							select.wine-input(name="searchColor")
								option 
								option Red
								option White
								option Rose         <!-- selected="selected" -->
								option Amber
								option Clear	

							h5.input-header Search By Varietal Preference: 
							
							form(id="search-form" action="/color" method="post")
								input.wine-input(type="text" name="searchVariety" placeholder="Type Variety here")
								br
								span.example (i.e "Cabernet", "Pinot Noir", "Merlot", "Malbec", "Zinfandel", etc.)
				
							h5.input-header Min Price: 
							select.wine-input(name="searchMinPrice")
								option
								option $10
								option $20
								option $30
								option $40
								option $50         <!-- selected="selected" -->
								option $75
								option $100
								option $200
								option $500
								option $1000
								option $2000	

							h5.input-header Max Price: 
							select.wine-input(name="searchMaxPrice")
								option
								option $10
								option $20
								option $30
								option $40
								option $50         <!-- selected="selected" -->
								option $75
								option $100
								option $200
								option $500
								option $1000
								option $2000	

							h5.input-header Sort Selection By: 
							select.wine-input(name= "seacrhSort")
								option
								option Price &#8679       <!-- selected="selected" -->
								option Price &#8681
							
							//- h5.input-header Number of Results:
							//- select.wine-input(name="searchNumber")
							//- 	option
							//- 	option 10
							//- 	option 20
							//- 	option 30
							//- 	option 40
							//- 	option 50
							//- 	option 100

							div.form-header
								button(type="submit") FIND WINE RECOMMENDATIONS
					//- br
					//- //- div OR
					//- br	

					//- h5 Search by your favorite type of wine (i.e "Cabernet", "Pinot Noir", "Merlot", "Malbec", "Zinfandel", etc.)
					//- form(id="search-form" action="/varietal" method="post")
					//- 	input(type="text" name="searchVariety")
					//- 	button(type="submit") Search
				.right-menu.col-sm-5.col-sm-offset-1
					h4.form-header
						strong Find Recipe Pairings
						br
						h5.form-header Search by Variety, Type, or Recipe Pairing Id: 
						br
					form.form-header.search-bar(id="search-form" action="/wine-recipes" method="post")
						input.recipe-input.wine-input(type="text" name="searchString" placeholder="Type Variety or Recipe Pairing ID here")
						br
						button(type="submit") SEARCH
