extends layout

block styles
	link(rel='stylesheet' href='/stylesheets/style.css')
	link(rel='stylesheet' href='/stylesheets/contact.css')

block scripts
	script(type='text/javascript' src='/javascripts/contact.js')

block content
	include slider
	-if(sessionInfo.loggedin !==true)
		include logreg
	.toggle-button
	#site
		.contact-btn
			h1 Click to Contact Us!	

		.contact-info.hidden
			h1 I'm a disappointment to my family -Hayes
	