extends layout
block styles
	link(rel='stylesheet' href='stylesheets/style.css')

block scripts
	script(src='javascripts/scripts.js')

block content

	include slider

	include logreg

	.toggle-button

	#site

		#title.section.active

	
			.titles

				span [bytesAndBrews]

	
		#pageOne.section
	
			.titles

				span [page one]

		#pageTwo.section
	
			.titles

				span [page two]
	
		#pageThree.section
	
			.titles

				span [page three]
	
		#pageFour.section
	
			.titles

				span [page four]
