extends layout
block styles
	link(rel='stylesheet' href='/stylesheets/style.css')

block scripts
	script(src='/javascripts/scripts.js')

block content

	include slider

	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg

	.toggle-button

	#site

		#title.section.active

	
			.titles
				img(src="../images/Wine-logo.png")

			//- .bottom-bubbles
			//- 	img(src="../images/bottom-left-bubbles.png")

	
		#pageOne.section
	
			.titles

				span [page one]

		#pageTwo.section
	
			.titles

				span [page two]
	
		#pageThree.section
	
			.titles

				span [page three]
	
		#pageFour.section
	
			.titles

				span [page four]
