extends layout
block styles
	link(rel='stylesheet' href='stylesheets/style.css')

block scripts
	script(src='javascripts/scripts.js')

block content

	include slider

	include logreg

	#site

		#title.section.active

			.slidertoggle.toggle-button
	
			.titles

				span [bytesAndBrews]

	
		#pageOne.section

			.slidertoggle.toggle-button
	
			.titles

				span [page one]

		#pageTwo.section

			.slidertoggle.toggle-button
	
			.titles

				span [page two]
	
		#pageThree.section

			.slidertoggle.toggle-button
	
			.titles

				span [page three]
	
		#pageFour.section

			.slidertoggle.toggle-button
	
			.titles

				span [page four]
