doctype html
head
	title= title
	link(rel='stylesheet' href='stylesheets/jquery.fullpage.min.css')
	link(rel='stylesheet' href='stylesheets/slidebars.min.css')
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:500')
	link(rel='stylesheet' href='stylesheets/style.css')
	script(src='javascripts/jquery-3.2.1.min.js')
	script(src='javascripts/jquery.fullpage.min.js')
	script(src='javascripts/scripts.js')

body

	#mySideNav.sideNav
		a(href='javascript:void(0)' class='closebtn') &times;
		a(href='#') page one
		a(href='#') page two
		a(href='#') page three
		a(href='#') page four

	#site

		#title.section.active
	
			.titles
				span [twoBites]

	
		#pageOne.section
	
			.titles
	
				span [page one]
	
		#pageTwo.section
	
			.titles
	
				span [page two]
	
		#pageThree.section
	
			.titles
	
				span [page three]
	
		#pageFour.section
	
			.titles
	
				span [page four]
