extends layout
block styles
	link(rel='stylesheet' href='/stylesheets/style.css')

block scripts
	script(src='/javascripts/scripts.js')

block content

	include slider

	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg

	.toggle-button

	#site

		#title.section.active

	
			.titles
				img(src="../images/Wine-logo.png")

			//- .bottom-bubbles
			//- 	img(src="../images/bottom-left-bubbles.png")

	
		#pageOne.section
	
			.titles

				span Developed by and for the indecisive eater…Stop picking through those 3-day old leftovers and let us help you EAT DINNER!!!


		#pageTwo.section
	
			.titles

				span Efficiently choose recipes based off your current pantry status… or if it’s time to make that trip to the grocery let us help guide your cart…

	
		#pageThree.section
	
			.titles

				span Do you get thirsty while eating dinner?? I know I do!  What helps washing down that pasta dish better than a glass of fine wine.  Utilize our detailed wine search feature to narrow down that list by style, flavor, and price.  Can’t dine without the wine!
	
		#pageFour.section
	
			.titles

				span Feeling too lazy to cook that chicken?? Search for restaurants by city, neighborhood, etc. and generate a detailed, concise map layout of local and top rated restaurants.  It can be overwhelming for the indecisive to scroll through page after page of restaurants.  Luckily, we narrow them down for you with one simple search!

		#pageFive.section

			.titles

				span Like a recipe or wine you found?? Save them in your personalized account!

		#pageSix.section

			.titles

				span If it’s too daunting to search specific recipes, wines, or local restaurants, use our “Random Search” features to instantly generate results.  It’s 2017, don’t make that brain of yours work too hard after a long day!
