//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

doctype html
html
	head
		title pug test page
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript" src="/javascripts/jquery-3.2.1.min.js")
		script(type="text/javascript" src="/javascripts/scripts.js")
  
	body

		.container-fluid

			.row

				.col-xs-12.header.text-center
					h4 twoBites
			
		.container

			.row

				.hidden-xs.hidden-sm.hidden-md.col-lg-3.rand-rest
					.vert-words
						span random restaurant

				.hidden-xs.hidden-sm.hidden-md.col-lg-3.rand-reci
					.vert-words
						span random recipe

				.hidden-xs.hidden-sm.col-md-6.hidden-lg
					.hidden-xs.hidden-sm.col-md-12.hidden-lg.rand-rest
						h6 random restaurant
					.hidden-xs.hidden-sm.col-md-12.hidden-lg.rand-reci
						h6 random recipe

				.hidden-xs.hidden-sm.hidden-md.col-lg-3.rand-quiz
					.vert-words
						span narrow it down

				.hidden-xs.hidden-sm.hidden-md.col-lg-3.rem-items
					.vert-words
						span leftovers

				.hidden-xs.hidden-sm.col-md-6.hidden-lg
					.hidden-xs.hidden-sm.col-md-12.hidden-lg.rand-quiz
						h6 narrow it down
					.hidden-xs.hidden-sm.col-md-12.hidden-lg.rem-items
						h6 leftovers

				.col-xs-12.col-sm-12.hidden-md.hidden-lg
					.col-xs-12.col-sm-12.hidden-md.hidden-lg.rand-rest
						h6 random restaurant
					.col-xs-12.col-sm-12.hidden-md.hidden-lg.rand-reci
						h6 random recipe
					.col-xs-12.col-sm-12.hidden-md.hidden-lg.rand-quiz
						h6 narrow it down
					.col-xs-12.col-sm-12.hidden-md.hidden-lg.rem-items
						h6 leftovers


		
	

