extends layout
block styles
	link(rel='stylesheet' href='stylesheets/style.css')

block scripts
	script(src='javascripts/scripts.js')

block content

	include slider

	include logreg

	#site

		#title.section.active
	
			.titles

				span.toggle-button [bytesAndBrews]

	
		#pageOne.section
	
			.titles

				span.toggle-button [page one]

		#pageTwo.section
	
			.titles

				span.toggle-button [page two]
	
		#pageThree.section
	
			.titles

				span.toggle-button [page three]
	
		#pageFour.section
	
			.titles

				span.toggle-button [page four]
