extends layout

//- block primaryStyles

block styles

	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel='stylesheet' href='stylesheets/recipe-styles.css')
	

block scripts
	script(src='javascripts/scripts.js')

block content

	include slider
	include logreg

	#site
		#search-page.section.active
			.toggle-button#slidertoggle
			.slide
				.container
					.row
						.col-sm-4.col-sm-offset-4.random-wrapper
							.col-sm-12.inner
								form.random-form(action="/random-recipe" method="post")
									button.btn-search.btn(type="submit" id="random-button") Random
			.slide
				.container
					.row
						.col-sm-4.col-sm-offset-4.search-wrapper
							.col-sm-12.inner
								form.search-form(action="/search-recipe", method="post")
									//- input(type="text", name="ingredient")
									button.btn-search.btn(type="submit" id="search-button") Search						

		 	
		.section
			.container
				.col-sm-4.side-bar-wrapper
					.col-sm-12.side-bar-header
						h1 [Recipe Name]
					.col-sm-12.ingredient-list
							-for (let j = 1; j < 10; j++)
								.row(class='row' + j)
									li [Ingredient #{j}]
								
							



		
















