extends layout

block styles

block scripts

block content

	include slider
	include logreg

	.content-container
		button(type="submit" id="random-button")
		form.search-form(action="/search-recipe", method="post")
			input(type="text", name="ingredient")
			button(type="submit" id="search-button")