extends layout

block styles

block scripts

block content

	form(id="search-form" class="form-inline" action="/search" method="post")
		input(type="text" placeholder="Search Area" name="searchString")
		button(type="submit" class="btn btn-primary") SEARCH

	form(id="search-form2" class="form-inline" action="/searchTopRated" method="post")
		input(type="text" placeholder="Top Restaurants" name="searchBest")
		button(type="submit" class="btn btn-primary") SEARCH