#mySideNav.sideNav
		a(href='javascript:void(0)' class='closebtn') &times;
		a(href='#') Home
			span.home-icon
		a(href='#') Account
			span.account-icon
		a(href='#') Restaurants
			span.rest-icon
		a(href='#') Recipes
			span.rec-icon
		a(href='#') Booze
			span.alch-icon
		a(href='#') Contact
			span.contact-icon