#mySideNav.sideNav
	.header-wrapper Bytes and Brews
		a(href='javascript:void(0)' class='closebtn') &times;
	a(href='/') Home
		span.home-icon.icon
	a(href='/account') Account
		span.account-icon.icon
	a(href='/restaurants') Restaurants
		span.rest-icon.icon
	a(href='/recipes') Recipes
		span.rec-icon.icon
	a(href='/beverages') Beverages
		span.alch-icon.icon
	a(href='/contact') Contact
		span.contact-icon.icon

	.footer-wrapper
		.footer-inner-1
		.footer-inner-2
