

body {
	margin: 0px;
	/* background-image: url('https://images3.alphacoders.com/265/thumb-1920-265889.jpg'); */
	background: rgb(25,25,25);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


#site, .header{
	font-family: 'Droid Serif', Georgia, Times, serif;
	color:white;
	text-shadow: 2px 2px 5px black;	
}

.wine-menu{
	text-align: center;
}

h1{
	background: rgb(68,74,68);
	padding: 10px;
	margin-left: 300px;
	margin-right: 300px;
}
.left-menu,.right-menu{
	/* background: rgba(54,3,8,0.9); */
	background: rgb(173,29,96);
	padding: 8px;
	border-radius: 5px;
	text-align: left;
}

.form-header, strong{
	text-align: center;
	font-size: 20px;
}

.input-header{
	font-size: 19px;
}

.wine-input{
	color: black;

}

input.wine-input{
	width: 200px;
}

.recipe-input{
	font-size: 17px;
}

.search-bar{
	width: 300px;
/* 	Set width + block = a ton of margin on the right
	To center, use margin:auto to split evenly on left and right; */
	margin: auto;
}

#search-form input{
	width: 100%;
}

.search-bar input{
	width: 100%;
	height: 30px;
	border: solid #B9B0B0 1px;
	/* font-size: 32px; */
	/* padding-left: 10px; */
	margin-left: 10px;
	/* margin-bottom: 30px; */
}

.wine-menu button{
	width: 200px;
	height: 35px;
	background-color: #F6F6F6;
	color: black;
	/* color: rgb(54,3,8); */
	outline: none;
	font-size: 13px;
	margin: 10px;
	border-radius: 10px;
}

select{
	height: 25px;
}

.example{
	font-size: 12px;
}

.wine-results{
	background: rgb(173,29,96);
	/* background: rgba(54,3,8,0.9); */
	padding-top: 10px;
	margin: 10px;
	margin-left: 45px;
	border: 5px outset rgb(31,26,26);
	border-radius: 10px;
	height: 325px;
	font-size: 15px;
}

.wine-name{
	font-size: 20px;
}
.wine-pic{
	border-radius: 10px;
}

.recipe-results{
	height: 375px;
	background: rgb(173,29,96);
	margin: 7px;
	border: 5px outset rgb(31,26,26);
	border-radius: 10px;
	width: 350px;

}

.recipe-name{
	height: 70px;
}

