body {
	margin: 0px;
	background-color: #aac0aa;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

#site {
	transition: all .5s;
	/* position: relative; */
	background-color: rgba(1,4,0,.1);
	height: 100vh;
	width: 100vw;
}

.welcome-wrapper{
	font-family: 'Oswald', sans-serif;
	color: white;
	position: relative;
	top: 0vh;
	left: 80vh;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 265px;
	text-align: center;
}

.welcome-wrapper h1{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*#slidertoggle {
	position: absolute;
	left: 5vw;
	top: 5vh;
	height: 33px;
	width: 33px;
	 border-radius: 50%; 
	 background-color: #a18276; 
	background-image: url('../images/prj-icons/menu-icon.png');
	 box-shadow: 2px 0px 1px #333; 
}
*/
#registration, #login {
	position: fixed;
	top: 24vh;
	left: 40vw;
	background: transparent;
	display: block;
	font-family: 'Oswald', sans-serif;
	height: 300px;
	width: 300px;
}

#bite-me {
	position: relative;
	top: 0vh;
	left: 40vw;
	background: transparent;
	display: block;
	font-family: 'Oswald', sans-serif;
	height: 300px;
	width: 300px;
}

.btn-register, .btn-login, .btn-update {
	color: white;
	font-family: 'Oswald', sans-serif;
	border: none;
	text-shadow: 0px 0px 1px black;
	margin-left: 5px;
}

.btn-login {
	background-color: #ad1a60;
}

.btn-register {
	background-color: #aac0aa;
}

input {
	font-family: 'Oswald', sans-serif;	
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.half {
	width: 46%;
}

.full {
	width: 95%;
}

.message {
	color: white;
	text-shadow: 0px 0px 1px black;
	text-align: center;
}

.btn-update {
	background-color: #7a918d;
}