
.container{
	margin-left: 0px;
	margin-right: 0px;
}

.slidertoggle {
	position: absolute;
	left: 5vw;
	top: 5vh;
	height: 33px;
	width: 33px;
	z-index: 2;
	/* border-radius: 50%; */
	/* background-color: #a18276; */
	background-image: url('../images/prj-icons/menu-icon.png');
	/* box-shadow: 2px 0px 1px #333; */
}

body {
	margin: 0px;
	background-color: #191919;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.random-header{
	position: relative;
	top: -83px;
	left: 288px;
}

.random-header span{
	position: relative;
	top: -6px;
	left: 53px;
}

/*#slidertoggle {
	position: absolute;
	left: 5vw;
	top: 5vh;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #a18276;
	box-shadow: 2px 0px 1px #333;
}*/

#random-button,#search-button {
	font-family: 'Oswald', sans-serif;	
	font-size: 15px;
	/* text-align: center; */
	line-height: 55px;
	/* margin-left: 10%; */
	margin-top: 10px;
	border: none;
	color: white;
	height: 60px;
	width: 10vw;
	box-shadow: 1px 1px 5px 2px #222;
	/* text-shadow: 0px 0px 1px black; */
	/* width: 80%; */
	/* padding-top: 40%; */
	/* border-radius: 5px; */
	background-color: #7a918d;
}

.random-form{
	height: 80%;
}

.random-wrapper{
	text-align: right;
	line-height: 100px;
}

.random-wrapper,.search-wrapper{
	background: #444A44;
	border-radius: 5px;
	margin-top: 0%;
	margin-bottom: 86px;
	height: 100px;
	/* border-radius: 5px; */
}

.ingredient-wrapper{
	padding: 0px;
}

.inner{
	background-color: #dceed1;
	line-height: 80%;
	opacity: .8;
	height: 80px;
	width: 10vw;
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 5px 2px #222;
}

.results{
	background-color: #191919;
}

.bubble-image img{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 10vw;
}

.results-container{
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
}

.side-bar-wrapper{
	height: 100vh;
	padding: 0;
	/* padding: 5px 5px 5px 5px; */
	/* margin-top: 10vh; */
	border-radius: 5px;
}

.side-bar-header{
	background-color: #444A44;
	text-align: right;
	line-height: 100%;
	font-family: 'Oswald', sans-serif;
	color: white;
	margin-top: 12vh;
	box-shadow: 4px 4px 3px 4px #222;
	/* border-radius: 5px */
}

.ingredient-list{
	/* background-color: blue; */
	text-align: left;
	height: 100vh;
	/* line-height: 100%; */
	padding-left: 5vw;
	margin-top: 10vh;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	color: white;
	overflow-y: auto;
	/* height: 100%; */
}

.row li{
	margin-bottom: 15px;
	margin-top: 5px;
	color: white;
	border-radius: 5px;
	list-style-type: none;
	height: 15px;
	line-height: 15px;
}

.row1,.row3,.row5,.row7,.row9,.row11,.row13,.row15,.row17,.row19,.row21,.row23,.row25,.row27,.row29,.row31,.row33,.row35{
	background: rgba(173, 26, 96, 1);
	position: relative;
	right: -20px;
	margin-top: 3px;
	padding-left: 15px;
	height: 20px;
	line-height: 20px;
	/* border-radius: 5px; */
}

.row0,.row2,.row4,.row6,.row8,.row10,.row12,.row14,.row16,.row18,.row20,.row22,.row24,.row26,.row28,.row30,.row32,.row34{
	background: #444A44;
	margin-top: 3px;
	height: 20px;
	line-height: 20px;
	padding-left: 15px;
	/* position: relative; */
	/* right: 20px; */
	/* border-radius: 5px; */
}

.picture-wrapper{
	height: 35vh;
	border-radius: 5px;
	padding: 0;
	margin-top: 10px;
}

.recipe-pic{
	background: #444A44;
	height: 250px;
	/* margin-top: 10vh; */
	/* border-radius: 5px; */
	text-align: right;
	/* line-height: 25vw; */
	padding: 0px;
	margin-top: 5vh;
	background-image: url('/images/slider-bubbles-green.png');
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position: -3px 15px;
	background-size: 100px;
}

.recipe-pic img{
	width: 390px;
	height: 250px;
	/* border: 3px solid #444A44; */
	box-shadow: 1px 1px 5px 2px #222;
	/* border-radius: 50%; */
}

.recipe-pic-inner{
	height: 50vh;
	width: 40vw;
	text-align: center;
	line-height: 60vh;
	margin-top: 10vh;
	border-radius: 5px;
	padding: 0px;
	background: rgba(170, 192, 170, 0.8);
}

.recipe-button-wrapper{
	margin-top: 5vh;
	text-align: right;
	background-color: rgba(173, 26, 96, 1);
}

.btn-primary{
	background-color: rgba(173, 26, 96, 1);
	border-radius: 0px;
}

.btn-primary:focus,.btn-primary:hover{
	background-color: rgba(173, 26, 96, 1);
	box-shadow: none;
}

.btn-success:focus,.btn-success:hover{
	background-color: #444A44;
	box-shadow: none;
}

.save-button-wrapper{
	margin-top: 1vh;
	text-align: right;
	background-color: #444A44;
}

.btn-success{
	background-color: #444A44;
	border-radius: 0px;
}

.half {
	width: 46%;
}

.full {
	width: 95%;
}

.message {
	color: white;
	text-shadow: 0px 0px 1px black;
	text-align: center;
}

.btn-recipeSearch {
	color: white;
	font-family: 'Oswald', sans-serif;
	border: none;
	text-shadow: 0px 0px 1px black;
	margin-left: 5px;
	background-color: #dceed1;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.cuisine, .inclusion, .exclusion, .diet, .allergy {
	color: white;
	text-shadow: 0px 0px 1px black;
}

textarea, select, option {
	color: #333;
	font-family: 'Oswald', sans-serif;	
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

#recipeForm {
	position: relative;
	top: 0;
	left: 25vw;
	background: rgba(170,192,170,0.8);
	display: block;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 50vw;
	text-align: center;
}

.fp-tableCell{
	padding: 0;
}











































































