
.container{
	margin-left: 0px;
	margin-right: 0px;
}

.slidertoggle {
	position: absolute;
	left: 5vw;
	top: 5vh;
	height: 33px;
	width: 33px;
	z-index: 2;
	/* border-radius: 50%; */
	/* background-color: #a18276; */
	background-image: url('../images/prj-icons/menu-icon.png');
	/* box-shadow: 2px 0px 1px #333; */
}

body {
	margin: 0px;
	background-image: url('../images/vegi-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#result-page{
	background-color: blue;
}

/*#slidertoggle {
	position: absolute;
	left: 5vw;
	top: 5vh;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #a18276;
	box-shadow: 2px 0px 1px #333;
}*/

#random-button,#search-button {
	font-family: 'Oswald', sans-serif;	
	font-size: 15px;
	/* text-align: center; */
	line-height: 10vh;
	/* margin-left: 10%; */
	margin-top: 10%;
	border: none;
	color: white;
	height: 10vh;
	/* text-shadow: 0px 0px 1px black; */
	/* width: 80%; */
	/* padding-top: 40%; */
	border-radius: 5px;
	background-color: #7a918d;
}

.random-form{
	height: 80%;
}

.random-wrapper{
	text-align: right;
}

.random-wrapper,.search-wrapper{
	background: rgba(25, 25, 25,0.8);
	border-radius: 5px;
	margin-top: 0%;
	height: 20vh;
	/* border-radius: 5px; */
}

.ingredient-wrapper{
	padding: 0px;
}

.inner{
	background: rgba(173, 26, 96, 1);
	opacity: .8;
	height: 20%;
	width: 20%;
	margin-top: 4%;
	border-radius: 5px;
	text-align: center;
}

.results{
	background-color: #191919;
}

.results-container{
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
}

.side-bar-wrapper{
	height: 100vh;
	padding: 0;
	/* padding: 5px 5px 5px 5px; */
	/* margin-top: 10vh; */
	border-radius: 5px;
}

.side-bar-header{
	background-color: rgba(68, 74, 68, 1);
	text-align: right;
	line-height: 100%;
	font-family: 'Oswald', sans-serif;
	color: white;
	margin-top: 12vh;
	/* border-radius: 5px */
}

.ingredient-list{
	/* background-color: blue; */
	text-align: left;
	height: 100vh;
	/* line-height: 100%; */
	padding-left: 5vw;
	margin-top: 10vh;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	color: white;
	overflow-y: auto;
	/* height: 100%; */
}

.row li{
	margin-bottom: 15px;
	margin-top: 5px;
	color: white;
	border-radius: 5px;
	list-style-type: none;
	height: 15px;
	line-height: 15px;
}

.row1,.row3,.row5,.row7,.row9,.row11,.row13,.row15,.row17,.row19,.row21,.row23,.row25,.row27,.row29,.row31,.row33,.row35{
	background: rgba(173, 26, 96, 1);
	position: relative;
	right: -20px;
	margin-top: 3px;
	padding-left: 15px;
	height: 20px;
	line-height: 20px;
	/* border-radius: 5px; */
}

.row0,.row2,.row4,.row6,.row8,.row10,.row12,.row14,.row16,.row18,.row20,.row22,.row24,.row26,.row28,.row30,.row32,.row34{
	background: rgba(173, 26, 96, 1);
	margin-top: 3px;
	height: 20px;
	line-height: 20px;
	padding-left: 15px;
	/* position: relative; */
	/* right: 20px; */
	/* border-radius: 5px; */
}

.picture-wrapper{
	height: 35vh;
	border-radius: 5px;
	padding: 0;
	margin-top: 10px;
}

.recipe-pic{
	background: rgba(173, 26, 96, 1);
	height: 37vh;
	/* margin-top: 10vh; */
	/* border-radius: 5px; */
	text-align: right;
	line-height: 37vh;
	padding: 0px;
}

.recipe-pic img{
	width: 50vw;
	border: 3px solid #191919;
}

.recipe-pic-inner{
	height: 50vh;
	width: 40vw;
	text-align: center;
	line-height: 60vh;
	margin-top: 10vh;
	border-radius: 5px;
	padding: 0px;
	background: rgba(170, 192, 170, 0.8);
}

.recipe-button-wrapper{
	text-align: center;
}

.half {
	width: 46%;
}

.full {
	width: 95%;
}

.message {
	color: white;
	text-shadow: 0px 0px 1px black;
	text-align: center;
}

.btn-recipeSearch {
	color: white;
	font-family: 'Oswald', sans-serif;
	border: none;
	text-shadow: 0px 0px 1px black;
	margin-left: 5px;
	background-color: #dceed1;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.cuisine, .inclusion, .exclusion, .diet, .allergy {
	color: white;
	text-shadow: 0px 0px 1px black;
}

textarea, select, option {
	color: #333;
	font-family: 'Oswald', sans-serif;	
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

#recipeForm {
	position: relative;
	top: 0;
	left: 25vw;
	background: rgba(170,192,170,0.8);
	display: block;
	font-family: 'Oswald', sans-serif;
	height: 75vh;
	width: 50vw;
	text-align: center;
}

.fp-tableCell{
	padding: 0;
}











































































