#map {
	height: 50vh;
	width: 50vw;
	margin-left: 25vw;
	}

body {
	margin: 0px;
	background-color: #191919;
	background-image: url('../images/bottom-left-bubbles.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	background-size: 10vw;
}

#site p {
	margin: 15px 0px;
	font-size: 13px;
}

#site.container {
	margin-top: 25vh;
}

#site p.pageTitle {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-shadow: 0px 0px 5px #333;
	text-align: center;
	font-size: 2em;
}

.returnedValues {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-shadow: 0px 0px 5px #333;
	text-align: center;
	position: relative;
}

.return1, .return2, .return3, .return4, .return5, .return6, .return7, .return8, .return9, .return10 {
	height: 29vh;
	width: 32vw;
	background-color: #444A44;
	box-sizing: border-box;
	/*border-radius: 5px;*/
	box-shadow: 2px 2px 5px 1px #d2c2ba;
	position: absolute;
	padding: 15px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover, a:focus {
	color: #CA6D99;
	text-decoration: none;
}

.return1, .return3, .return5, .return7, .return9 {
	left: 15vw;
}

.return2, .return4, .return6, .return8, .return10 {
	left: 50vw;
}

.return1, .return2, .return5, .return6, .return9, .return10 {
	top: 15vh;
}

.return3, .return4, .return7, .return8, .return10 {
	top: 50vh;
}

.restTitle{
	/*margin-top: 10px;*/
	font-size: 2em;
}

@media screen and (max-height: 700px) {
	.restTitle {
		margin-top: 5px;
		font-size: 1.2em;
	}
}

.restSearch, .topRests, .randRests{
	background-color: #444a44;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	color: white;
	box-shadow: 2px 2px 5px 1px #d2c2ba;
	/*position: absolute;*/
	/*left: 37vw;*/
	text-align: center;
	padding: 15px;
}

.restSearch {
	/*top: 20vh;*/
	margin-bottom: 10px
}

.topRests {
	/*top: 46vh;*/
	margin-top: 15px;
	margin-bottom: 10px;
}

.randRests {
	margin-top: 15px;
}

.restSearch label, .restSearch input, .restSearch button {
	display: block;
}

.topRests label, .topRests input, .topRests button {
	display: block;
}
/*
.restForms {
	position: relative;
}
*/
.restSearch input, .topRests input {
	font-family: 'Oswald', sans-serif;
	color: #333;
	width: 95%;
	padding: 5px;
	font-size: 15px;
	margin: 5px 5px 15px 7px;
}

.restSearch button, .topRests button{
	margin: 5px;
	margin-left: 7px;
	width: 95%;
	padding: 5px;
	font-size: 15px;
	background-color: #ad1a60;
}

.randRests button {
	margin-left: -18px;
	width: 95%;
	padding: 5px;
	font-size: 15px;
	background-color: #ad1a60;	
}

.btn {
	border-radius: 0;
}

.restSearch label, .topRests label {
	font-size: 2em;
	text-shadow: 0px 0px 1px #333;
}

.restForms h3 {
	color: white;
}

.side-bar-wrapper {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 1.5em;
}

.restInfo1 {
	background: rgba(173, 26, 96, .75);
	position: relative;
	right: -20px;
	margin-top: 3px;
	padding-left: 15px;
	height: 20px;
	line-height: 20px;
	text-shadow: 0px 0px 1px black;
}

.restInfo2 {
	background: rgba(173, 26, 96, .75);	
	margin-top: 3px;
	height: 20px;
	line-height: 20px;
	padding-left: 15px;
	text-shadow: 0px 0px 1px black;

}

.info-wrapper {
	padding: 0px;
}

.side-bar-header{
	background-color: rgba(68, 74, 68, 1);
	text-align: right;
	line-height: 100%;
	font-family: 'Oswald', sans-serif;
	color: white;
	width: 95%;
	/*margin-top: 12vh;*/
	/* border-radius: 5px */
}

.randRest-pic {
	margin-top: -7px;
	z-index: 1;
}