.sideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #7A918D;
	overflow-x: hidden;
	/* padding-top: 100px; */
	transition: .5s;
}

.sideNav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	color: white;
	display: block;
	transition: .3s;
	margin-left: 70px;
}

.sideNav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.header-wrapper{
	min-height: 50px;
	width: 100%;
	background-color: #736372;
	color: white;
	text-align: center;
	line-height: 50px;
	/* position: relative;
	top: 0px;
	left: 0px; */
}

.sideNav .closebtn {
	position: absolute;
	top: -8px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px){
	.sideNav {padding-top: 15px;}
	.sideNav a {font-size: 18px;}
}

.openBar {
	width: 250px;
}

.mainBar {
	margin-left: 250px;
}

#mySideNav {
	font-family: 'Oswald', sans-serif;
}

span.icon{
	height: 15px;
	width: 15px;
	background-size: cover;
	display: block;
	position: relative;
	top: -20px;
	left: -27px;
}

.home-icon{
	background-image: url('../images/prj-icons/home-icon.png');
}

.account-icon{
	background-image: url('../images/prj-icons/account-icon-2.png');
}

.rest-icon{
	background-image: url('../images/prj-icons/rest-icon.png');
}

.rec-icon{
	background-image: url('../images/prj-icons/recipe-icon.png');
}

.alch-icon{
	background-image: url('../images/prj-icons/bev-icon.png');
}

.contact-icon{
	background-image: url('../images/prj-icons/account-icon.png');
}

.footer-wrapper{
	min-height: 30%;
	width: 100%;
	background-color: #736372;
}

.footer-inner-1{
	min-height: 25%;
	width: 100%;
	background-color: #aac0aa;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer-inner-2{
	min-height: 20%;
	width: 100%;
	background-color: #dceed1;
	position: absolute;
	bottom: 0;
	left: 0;
}



























