.rand-reci, .rand-rest, .rand-quiz, .rem-items {
	border: 2px solid #555;
	box-shadow: 4px 0px 3px #333;
}

.rand-reci {
	background: rgb(237,106,90);
}

.rand-rest {
	background: rgb(244,241,187);
	transition: 2s ease;	
}

.flip {
	background: linear-gradient(to top, white, transparent, 25%);
}

.rand-quiz {
	background: rgb(155,193,188);
}

.rem-items {
	background: rgb(92,164,169);
}

.col-lg-3.rand-reci, .col-lg-3.rand-rest, .col-lg-3.rand-quiz, .col-lg-3.rem-items {
	height: 60vh;
	top: 100px;
	position: absolute;

}

div.col-lg-3.rand-reci:hover{
}

div.col-lg-3.rand-quiz:hover{
}
div.col-lg-3.rand-rest:hover{
}
div.col-lg-3.rem-items:hover{
}
.col-lg-3.rand-rest {
	left: 15vw;
	z-index: 3;
}

.col-lg-3.rand-quiz {
	left: 45vw;
	z-index: 1;
}

.col-lg-3.rand-reci {
	left: 30vw;
	z-index: 2;
}

.col-lg-3.rem-items {
	left: 60vw;
	z-index: 0;
}

.header {
	background-color: #e6ebe0;
	border-bottom: 1px solid #555;
	box-shadow: 0px 0px 5px #333;
}

.col-md-12.rand-reci, .col-md-12.rand-rest, .col-md-12.rand-quiz, .col-md-12.rem-items {
	height: 40vh;
	margin-top: 25px;
}

.row {
	margin: 0px;
}

.col-xs-12.rand-reci, .col-xs-12.rand-rest, .col-xs-12.rand-quiz, .col-xs-12.rem-items {
	height: 20vh;
	margin-top: 50px;
}

.vert-words {
	position: absolute;
	transform: rotate(270deg);
	top: 257px;
	left: 135px;
	font-size: 25px;
	width: 100%;
}