#pageOne, #pageTwo, #pageThree, #pageFour, #title {
	height: 100%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
	text-shadow: 0px 0px 5px #333;
}

#title {
	background-color: rgba(1,4,0,.1);
	/*background: transparent;*/
	color: white;
	font-size: 75px;
	text-align: center;
}

#pageOne {
	background-color: rgba(48,51,46,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageTwo {
	background-color: rgba(255,251,252,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageThree {
	background-color: rgba(98,187,193,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageFour {
	background-color: rgba(236,5,142,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

.titles {
	line-height: 100vh;
}

body {
	margin: 0px;
	background-image: url('../images/landscape.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.sideNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #333;
	overflow-x: hidden;
	padding-top: 60px;
	transition: .5s;
}

.sideNav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: .3s;
}

.sideNav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sideNav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#site {
	transition: all .5s;
}

@media screen and (max-height: 450px){
	.sideNav {padding-top: 15px;}
	.sideNav a {font-size: 18px;}
}