#pageOne, #pageTwo, #pageThree, #pageFour, #title {
	height: 100%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
	text-shadow: 0px 0px 5px #333;
}

#title {
	background-color: rgba(1,4,0,.1);
	color: white;
	font-size: 75px;
	text-align: center;
}

#pageOne {
	background-color: rgba(1,4,0,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageTwo {
	background-color: rgba(1,4,0,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageThree {
	background-color: rgba(1,4,0,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

#pageFour {
	background-color: rgba(1,4,0,.1);
	color:white;
	font-size:75px;
	text-align: center;
}

.titles {
	line-height: 100vh;
}

body {
	margin: 0px;
	background-image: url('../images/landscape.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#site {
	transition: all .5s;
}